.container-modal .container-division {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.container-division-materia {
  width: 50%;
}

.container-division-laboratorio {
  width: 50%;
}

.container-modal h6 {
  color: #333;
  font-weight: 500;
}

.container-modal .table-content {
  margin-top: 15px;
  color: #333;
  font-size: 16px;
  font-weight: 400;
}

.container-modal .table-titulo {
  color: #505050;
}

.div-observacionesModal {
  justify-content: center;
  width: 50%;
}

.container-modal .div-observacionesModal .h6-Observaciones {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
  width: 85%;
  min-height: 2.5rem;
  background-color: #f3f4f5;
}

.div-herramientasModal {
  width: 50%;
}

.container-modal .div-herramientasModal .tabla-Herramientas {
  align-items: center;
  padding: 8px;
  float: right;
  width: 85%;
  background-color: #f3f4f5;
}

/* .container-modal .div-observaciones .h6-Observaciones b {
  color: #505050;
} */
