.file {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file > input[type='file'] {
  display: none;
}

.file > label {
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  outline: 0;
  user-select: none;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  background-color: #fff;
  color: #333;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file > label:hover {
  border-color: #5fa2db;
}

.file > label:active {
  background-color: hsl(0, 0%, 96%);
}

.file > label > .IconUploud {
  padding-right: 5px;
}

/*  */
.text-H6EstudiantesExcel {
  font-weight: 300;
}
